Scripts/XML-RPC/ovh.cfg 		export-ignore
Scripts/XML-RPC/myserver.cfg	export-ignore
Scripts/XML-RPC/localhost.cfg 	export-ignore
Scripts/XML-RPC/spawn1.cfg 		export-ignore
Scripts/XML-RPC/screencast.ogg 	export-ignore
